<html>
<head>
	<title>Pagina Principal</title>

	<link rel="stylesheet"  type="text/css" href="css/boostrap.min.css">
	<link rel="stylesheet"  type="text/css" href="css/estilos.css">
	<link rel="stylesheet"  type="text/css" href="css/bootstrap.min.css">
	
	<meta name ="viewport" content =widht="widht=device-widht, initial-scale =1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div align="center">
                               
        <a>
        <img src="img/uniquindio.jpeg"  class="imagenes" id="imh">
    </a>
    </div>


	<div class="fomu" align="center" >

		<section class="left">
    		<form class="formularioPrincipal" action="" method="">
							
				<div class="form-group">
					<label for ="user">Username: </label>
					<input class="form-control" placeholder="Ingrese su username" id="user" name="username"></input>
				</div>

				<div class="form-group" aling="center">
					<label for ="password">Password: </label>
					<input class="form-control" type="password" placeholder="Ingrese su contrase&ntilde;a" id="password" name="pass"></input>
				</div>

					<input class="btn btn-primary" type="submit" value="Iniciar sesion"></input>
			</form>
		</section>
	</div>


</body>
</html>